body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-color: rgb(244, 234, 235) ; 
}

h1 {
    font-family: snell roundhand, cursive;
    font-size: xx-large;
    text-align: center;
}

h2 {
    color: black;
    font-family: helvetica, sans-serif;
    font-size: large;
    text-align: center;
}

.top-section {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    padding: 20px;
    font-family: helvetica, sans-serif;
}

.photo-area {
    position: relative;
}

#my-photo {
    width: 400px;
    display: block;
}

#trouble {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

#bleachers {
    width: 250px;
    display: block;
}

#draggable-item {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 120px;
    cursor: grab;
    z-index: 10;
}

.info-box {
    max-width: 600px;
    border-radius: 15px;
    padding: 40px;
    background-color: white;
    text-align: center;
}


.pregame {
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(253, 244, 244);
    text-align: center;
}

#bleachers {
    width: 250px;
    display: block;
    margin: 15px auto;
}

#play-song {
    font-size: smaller;
    font-family: helvetica, sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.starter-pack {
    margin-top: 15px;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(92, 87, 87);
    text-align: center;

    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.starter-pack img {
    width: 100px;
    height: auto;}