body {
    background-color: rgb(192, 130, 72);
    background-image: url("images/houseparty.jpg");
    background-size: 1920px 1080px;
    background-size: cover;
    background-position: right;
    padding: 50px;
}

h1 {
    color: black;
    font-family: helvetica, sans-serif;
    font-size: xxx-large;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}


#instructions {
    color: black;
    font-family: helvetica, sans-serif;
    font-size: medium;
    background-color: rgba(255, 245, 245, 0.8);
    text-align: center;
    margin: auto;
    padding: 20px;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.page {
    width: 80%;
    margin: auto;
}

.members {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

.member {
    text-decoration: none;
    color: black;
    background-color: rgb(255, 245, 245);

}

.member img {
    width: 200px;
    height: 200px;
    margin: 10px;
    object-fit: contain;
}

.member:hover {
    transform: scale(1.05);
}


#esa-popup,
#bodie-popup,
#danie-popup,
#chelsea-popup,
#harlan-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 1000px;
    padding: 20px;
    border-radius: 15px;
    z-index: 1000;
}

#esa-popup {
    background-color: rgb(255, 245, 245);
    width: 1000px;
    height: auto;
    overflow-y: auto;
    background-image: url("images/background.jpg");
    background-size: cover;
}

#esa-popup h1 {
    font-family: snell roundhand, cursive;
    font-size: xx-large;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.esa-details {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
}

.photo-area {
    background-color: rgb(240, 227, 192);
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

#my-photo {
    width: 300px;
    display: block;
}

.info-box {
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(245, 228, 228);
    text-align: center;
}

#esa-popup p {
    font-family: helvetica, sans-serif;
    color: black;
    font-size: small;
    padding: 10px;
}


.pregame {
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(143, 151, 183);
    text-align: center;
}

#esa-popup h2 {
    color: black;
    font-family: helvetica, sans-serif;
    font-size: large;
    text-align: center;
}

#bleachersrecord {
    width: 250px;
    display: block;
    margin: 15px auto;
}

#play-song {
    font-size: smaller;
    font-family: helvetica, sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

#trouble {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 200px;
}



#harlan-popup {
    background-color: rgb(162, 228, 209);
    width: 1000px;
    height: auto;
    overflow-y: auto;
}



#bodie-popup {
    background-color: rgb(228, 226, 189);
    width: 1000px;
    height: auto;
    overflow-y: auto;
}

#danie-popup {
    background-color: rgb(141, 154, 99);
    width: 1000px;
    height: auto;
    overflow-y: auto;
}

#chelsea-popup {
    background-color: rgb(161, 142, 163);
    width: 1000px;
    height: auto;
    overflow-y: auto;
}






#esa-icon,
#bodie-icon,
#chelsea-icon,
#harlan-icon,
#danie-icon {
    cursor: pointer;
}


#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.member-background {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#bodie-background {
    background-color: darkcyan;
}

#esa-background {
    background-color: orange;
}

#chelsea-background {
    background-color: pink;
}