body {
    background-color: rgb(192, 130, 72);
    background-image: url("images/confetti.jpg");
    background-size: 1920px 1080px;
    background-size: contain;
    background-position: right;
    padding: 50px;
}

h1 {
    color: black;
    font-family: helvetica, sans-serif;
    font-size: xxx-large;
    text-align: center;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.page {
    width: 80%;
    margin: auto;
}

.members {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.member {
    text-decoration: none;
    color: black;
}

.member img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid black;
}

.member:hover {
    transform: scale(1.05);
}